<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sencrypt</title>
    <!-- I have to include the fonts here to be able to import it from the public dir. -->
    <style>
        @font-face {
            font-family: Inter;
            src: url("/assets/fonts/Inter.ttf")
        }

        :root {
            font-family: Inter, 'sans-serif';
            background-color: #003556;
            color: black;
        }
    </style>
</head>
<body>
<div id="root"></div>
<script type="module" src="/src/main.jsx"></script>
</body>
</html>
